* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-height: 100dvh;
    max-height: 100vh;

    display: flex;
}

img {
    max-width: 100%;
}

.hotbar {
    height: 100dvh;
    height: 100vh;
    max-width: 65px;
    min-width: 65px;

    display: grid;
    text-align: center;

    background-color: rgb(34, 34, 34);
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);
}

.hotbar hr {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);

    margin-top: 0.5em;
    margin-bottom: 1em;
}

.icons {
    max-width: 100%;
}

.icon_meta {
    width: 21px;
    height: 21px;
    padding: 5px;

}

.user_avatar {
    width: 30px;
    border-radius: 50%;
}

.top {
    padding: 0.8em;
}

.top ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.top li {
    align-items: center;
    padding: 5px;
}

.down {
    padding: 0.8em;
    display: grid;
    align-items: end;
}

.down ul {
    display: grid;
    gap: 1em;
}

main {
    display: flex;
    width: 100%;
}

.contacts {
    color: white;
    background-color: rgb(24, 24, 24);

    border-right: 0.5px solid rgba(255, 255, 255, 0.1);

    min-width: 305px;
    width: 810px;
}

.contacts h1 {
    display: flex;
    justify-items: center;
    font-weight: bolder;
    font-size: 1.3em;
}

.head_contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 1.2em 0em 1.2em;
}

.head_contacts ul {
    display: flex;
    gap: 2em;
}

.list_contacts{
    padding: 1.2em;
}

.contacts_search {
    display: flex;
    gap: 1em;
    align-items: center;

    height: 20px;
    padding: 0.5em;
    border: 2px solid transparent;
    border-radius: 20em;

    background-color: rgb(51, 51, 51);
}

.contacts_search .icons {
    width: 17px;
    height: 17px;
    margin-left: 0.5em;
}

.contacts_search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;

    background-color: transparent;
    color: white;
    caret-color: rgb(81, 187, 67);
}

.contacts_search input::placeholder {
    color: rgb(155, 155, 155);
}

.contacts_search:focus-within {
    border: 2px solid rgb(95, 185, 84);
    background-color: transparent;
}

.options_contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.options_contacts li {
    padding: 0.5em 0.7em 0.5em 0.7em;
    font-size: 15px;

    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 10em;
    color: rgb(155, 155, 155);
}

.options_contacts .selected {
    border-color: rgb(90, 126, 85);
    background-color: rgba(90, 185, 122, 0.192);
    color: rgb(176, 219, 166);
}

.chat {
    background-image: url(../img/wallpaper/Whatsapp\ by\ @dgutierrez.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
}