body {
    max-height: 100dvh;
    max-height: 100vh;

    display: flex;
}

img {
    max-width: 100%;
}

.hotbar {
    height: 100dvh;
    height: 100vh;
    max-width: 65px;
    min-width: 65px;

    display: grid;
    text-align: center;

    background-color: rgb(34, 34, 34);
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);
}

.hotbar hr {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);

    margin-top: 0.5em;
    margin-bottom: 1em;
}

.icons {
    max-width: 100%;
}

.icon_meta {
    width: 21px;
    height: 21px;
    padding: 5px;

}

.user_avatar {
    width: 30px;
    border-radius: 50%;
}

.top {
    padding: 0.8em;
}

.top ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.top li {
    align-items: center;
    padding: 5px;
}

.down {
    padding: 0.8em;
    display: grid;
    align-items: end;
}

.down ul {
    display: grid;
    gap: 1em;
}

main {
    display: flex;
    width: 100%;
}

.contacts {
    background-color: rgb(24, 24, 24);
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);

    min-width: 335px;
    width: 815px;
}

.chat {
    background-image: url(../img/wallpaper/Whatsapp\ by\ @dgutierrez.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
}